package main

import (
	"testing"

	"github.com/knqyf263/go-cpe/naming"
	"github.com/knqyf263/go-cpe/matching"
)

func TestCompare(t *testing.T) {
    vectors := []struct {
		uri       string
		fs        string
	}{
    {{ range $i, $v := .Pair }} 
    {
        uri: `{{ $v.URI }}`,
        fs:  `{{ $v.FS }}`,
    },
    {{ end -}}
    }

    for i, v := range vectors {
		wfn, err := naming.UnbindURI(v.uri)
        if err != nil{
            t.Errorf("test %d, Unexpected error: %s, URI: %s", i, err, v.uri)
        }
		wfn2, err := naming.UnbindFS(v.fs)
        if err != nil{
            t.Errorf("test %d, Unexpected error: %s, FS: %s", i, err, v.fs)
        }
    	matching.IsEqual(wfn, wfn2)
    	matching.IsEqual(wfn2, wfn)
    }
}
 